<h1>HopHolicって？</h1>
  <p>
    このHopHolicはその名の通り「ホップ（ビールの原料）中毒」という意味で、</br>
    当サイトではビール好きがオススメのブルワリーのクラフトビールを紹介するSNSです。</br>

    どこのブルワリーがどんなビールを作っているのか気になるけど詳細がよくわからない、、、</br>
    そんな方に使っていただければと思います！
  </p>

  <h2>クラフトビールとは？</h2>
    <p>
      近年、単にビールではなく少し高価で様々なテイストがあるクラフトビールを目にすることが増えていませんか？</br>
      元々はアメリカやヨーロッパなど海外で主流であったビール文化が日本でも近年ブームが巻き起こってきました。</br>
      クラフトビールの認知度は90％を越え、レストランやバーで気軽にクラフトビールが飲めるようになりました。</br>
      ラガー、ホワイト、ダーク系のビールなど様々な種類がありますが、</br>
      皆さん、それらのビールがどこのブルワリーで作られているかって考えたことありますか？</br>
      実は日本には既にクラフトビールのブルワリーが380社以上も存在しているのです。</br>
      そんな日本のクラフトビールの魅力をぜひ知っていただきビールをもっとエンジョイしましょう！
      </p>

  <h2>このサイトの使い方</h2>
    <p>
      1.マイページを作成</br>
      2.みんなのブルワリーの投稿を閲覧しよう！</br>
        （都道府県で検索してみたら近隣にも実はブルワリーがあるかも！？）</br>
      3.自分がオススメしたいブルワリーを投稿しよう！</br>
      4.お気に入りの投稿者をフォローしよう！
    </p>