<main>
  <div class="wrapper">
  <div class="about">
  <div class="box" >
    <div class="img01"></div>
    <div class="img02"></div>
    <div class="img03"></div>
    <div class="img04"></div>
 </div>
 </div>

  <div class="topText">
    <h2 class=>Hop Holicって？</h2>
    <br>
      <p>その名の通り「ホップ（ビールの原料）中毒」という意味。</p>
        <p>Hop Holicではビール好きがお勧めブルワリーのクラフトビールを紹介しています。</p>
        <p>どこのブルワリーがどんなビールを作っているのかをシェアし、</p>
        <p>クラフトビール文化を日本に広めていくことを目的としています。</p>
    <br>
      <h2>Hop Holicの使い方</h2>
      <br>
        <p>1. マイページを作成</p>
        <p>2. みんなのブルワリーの投稿を閲覧（都道府県で検索可能）</p>
        <p>3. 自分がオススメしたいブルワリーを投稿</p>
        <p>4. お気に入りの投稿者をフォロー</p>
    </div>
  </div>
</main>