<main>
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="wrapper">
  <div class="box" >
    <div class="img01"></div>
    <div class="img02"></div>
    <div class="img03"></div>
    <div class="img04"></div>
 </div>

  <div class="topText">
    <h1>Hop Holic</h1>
    <h3>- Craft Beer & Brewery -</h3>
  </div>
  </div>
</main>