<main>
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="wrapper">
  <div class="box" >
    <div class="Img"><img class="img01" src="assets/beer1.jpg"></div>
    <div class="Img"><img class="img02" src="assets/beer2.jpg"></div>
    <div class="Img"><img class="img03" src="assets/beer3.jpg"></div>
    <div class="Img"><img class="img04" src="assets/beer4.jpg"></div>
 </div>

  <div class="topText">
    <h1>Hop Holic</h1>
    <h3>- Craft Beer & Brewery -</h3>
  </div>
  </div>
</main>