// Place all the styles related to the breweries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-6 {
    font-size:  19px;
}

.background {
  background-image: asset-url("grey.jpeg");
  height: 800px;
  background-size: cover;
  color: white;
}







html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}